
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./images/img2.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/img5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/img6.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span> 
        </button>
      </div>

      
 <div class="cointainer">
    

  <div class="card" style="width: 18rem;">
    <img src="https://media.istockphoto.com/photos/gavel-on-auction-word-picture-id917901978?k=20&m=917901978&s=612x612&w=0&h=NULGu8-bVpy28gbW6AZbZlEVra-Q4s2rg607emPfkCs=" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">what is auction?</h5>
      <p class="card-text"></p>
      <a href="https://www.investopedia.com/terms/a/auction.asp#toc-what-is-an-auction" class="btn btn-primary">Details</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgmjDcl5Xk3rMmeagunJKXQP3DOk1oFeTnzA&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">How auction works ?</h5>
      <p class="card-text"></p>
      <a href="https://www.investopedia.com/terms/a/auction.asp#toc-how-auctions-work" class="btn btn-primary">Details</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA7V8LYmm-ZEyrjYIDeIoyJrABhds4k04L2Q&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Auction pros and cons</h5>
      <p class="card-text"></p>
      <a href="https://www.investopedia.com/terms/a/auction.asp#toc-advantages-and-disadvantages-of-auctions" class="btn btn-primary">Details</a>
    </div>
  </div>


</div>
<div class="maincont">

<div class="cointain"><h2>Are you a seller ?</h2><div class="butt"><a href="#">
<button class="butto">Not Now</button><button class="butto">Yes</button></a></div></div>
<div class="cointain"><h2>Are you a buyer ?</h2><div class="butt"><a href="#" class="butt"><button class="butto">Not Now</button><button class="butto">Yes</button></a></div></div>
</div>



<div class="card">
    <div class="card-body">
        When the leaders choose to make themselves bidders at an auction of popularity, their talents, in the construction of the state, will be of no service. They will become flatterers instead of legislators; the instruments, not the guides, of the people. <br>

        ~~ Edmund Burke
    </div> <hr>
  

  
    <div class="card-body">
        Every election is a sort of advance auction sale of stolen goods. <br>

      ~~ H. L. Mencken
    </div> <hr>
  

  
    <div class="card-body">
        I purchased a 1955 Rolls-Royce that my wife liked because it was new the year we were married. Then came a 1926 Hispano-Suiza Cabriolet that I bought at my first classic car auction after I had three martinis. As more cars were added, I had to buy a warehouse. <br>

        ~~ Clive Cussler
    </div> <hr>
  

  
    <div class="card-body">
        I don't pay attention to auction prices. Nothing interests me less. One of the benefits of not being an artist is I don't have to navigate the social hierarchies of the art world as a person of desire. I don't need anything. I live in a different way. <br>

        ~~ Rachel Kushner
    </div> <hr>
  

  
    <div class="card-body">
        Am I going to get my warts removed? I might do, but I'm certainly not going to auction them on the internet. <br>

        ~~ Lemmy
    </div> <hr>
  

</div>



</body>
</html>