<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live auction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/css/live.css">
    <script src="./public/js/live.js"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <nav>
        <div class="maint" >
            <img src="./public/auction-house logo.png" alt="auction_logo" id="log">
            <div class="navv">
                <a href="#" type="button">Leave</a>
            
        </div>
        
    </nav>
    <div class="time">
        <p id="dem"></p>
    </div>
    <div >
        <img src="./public/img7.webp" alt="pic" class="pico">
    </div>
    <div class="com">
        <label for="number" id="amt">Amount</label>
        <input type="number" name="number" placeholder="Rs.#####"required>
        <button type="button" class="btn btn-primary btn-lg" id="com">Bid</button>
    </div>
    <div class="tex">
        <textarea name="comment" id="comment" cols="50" rows="10" placeholder="Live Comment"></textarea>
    </div>
    <div class="doc">
        <div class="smart">
        <h1>Smart Phone</h1>
    </div>
    <div class="docu">
        <h4>This a smart phone powered by ASUS.Model name is 
            ASUS Zenfone Max Pro M1. RAM is of 128GB. Storage is 16GB.Camera of 12MP.
            Used for 2 years with proper documentation .
        </h4>
    </div>
    </div>
</body>
</html>