<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No-Kyc</title>
    <style>
        .nokyc{
            height: 270px;
            width: 250px;
            position: absolute;
            left: 38%;
            top: 22%;
            border: 2px solid purple;
            padding: 30px;
        }
        .nkyc{
            position: relative;
            left: 30px;
            font-size: 20px;
            font-weight: bold;
            font-style: italic;

        }

    </style>
</head>
<body>
    <div class="nokyc">
        <div class="nkyc">
    <h1>No KYC ? Don't worry</h1>
   <form action="">
    <label for="Document">Document</label>
    <select name="" id="identity">
        <option value="Idetification">Select Identity</option>
      <option value="Idetification">Aadhar-card</option>
      <option value="Idetification">Pan-card</option>
      <option value="Idetification">Ration-Card</option>
      
      

    </select><br>
    <label for="Documents">Document Number</label>
    <input type="text">
    <br>

    <label for="photo">Upload Document</label>
    <input type="file">
    <br>
   </form>
    
   

</div>
</div>
</body>
</html>