<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <link rel="stylesheet" href="all.css">
    <link rel="stylesheet" href="basic.css">
    <script src="https://kit.fontawesome.com/3403a4c9e3.js" crossorigin="anonymous"></script>
    <style>
        body{
            background-image: url(bgcoin2.jpg);
            
        }
        
    </style>
</head>
<body>
    
    <div class="cointainer1">
        <h1>Enter your OTP</h1>
        <input type="number" name="otp" id="otp" placeholder="Enter OTP here" required>
        <div class="cointainer2"> <button class="btn1">Submit</button></div>
       
    </div>

</body>
</html>