<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin_sell</title>
    <link rel="stylesheet" href="all.css">
    <link rel="stylesheet" href="basic.css">
    <script src="https://kit.fontawesome.com/3403a4c9e3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="cointainer">
  <h1>Login to Seller's forum </h1>
     <div class="box">
      <i class="fa-solid fa-envelope"></i>
        <input type="email" name="email" id="email" placeholder="e.g - abc@gmail.com">
     </div>
     <div class="box">
      <i class="fa-solid fa-key"></i>
        <input type="password" name="password" id="password" placeholder="password">

     </div>
     <div class="box">
        <input type="text" name="text" id="text" placeholder="captca">
       
     </div>
     <button class="btn">Sign in</button><br>
     <a href="#">Forget password ? Click Here</a>

    </div>
    
</body>
</html>